---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="mdBlog - Made With Astro">
  <section class="w-full h-auto py-24 px-4 bg-blue-300">
    <h1 class="font-bold text-6xl">Welcome To Blog</h1>
    <h2 class="text-4xl">This website is created using <a href="https://astro.build">Astro</a></h2>
  </section>
  <section class="grid text-xl font-bold p-4">
    <span>Github : <a href="https://github.com/bora-sen">@bora-sen</a></span>
  </section>
</MainLayout>
