---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Initial" description="Initial Setup">
  <div class="w-full h-screen bg-gray-500 text-white font-bold text-5xl flex items-center justify-center">Initial</div>
</MainLayout>
