<header class="w-full py-4 px-2 flex items-center justify-between">
  <h1 class="text-4xl font-bold"><a href="/">mdBlog/Astro</a></h1>
  <nav class="flex items-center gap-4 text-xl">
    <a href="/blog/">Blog</a>
  </nav>
</header>
